body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #6613eb;
    margin-bottom: 30px;
}

.exercise {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e7c5fa;
    border-radius: 5px;
    background-color: #d6cee4;
    width: 600px;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.option:hover {
    background-color: #e9e9e9;
}

.option.correct {
    background-color: #5f12ec;
    color: white;
}

.option.incorrect {
    background-color: #f44336;
    color: white;
}

.feedback {
    margin-top: 10px;
    font-style: italic;
}

.progress {
    margin-top: 20px;
    text-align: center;
}

.progress-bar {
    display: flex;
    height: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.progress-fill {
    height: 100%;
    background-color: #641fd3;
    width: 0%;
    transition: width 0.3s;
}

/* ----------------- Ondas ----------------- */
.wave {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #9c65f5;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.wave span {
    position: absolute;
    width: 360vh;
    height: 360vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.wave span:nth-child(1) {
    border-radius: 45%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 5s linear infinite;
}

.wave span:nth-child(2) {
    border-radius: 40%;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 10s linear infinite;
}

.wave span:nth-child(3) {
    border-radius: 42.5%;
    background: rgba(255, 255, 255, 0.3);
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% { transform: translate(-50%, -75%) rotate(0deg); }
    100% { transform: translate(-50%, -75%) rotate(180deg); }
}
