<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/PaginaApoiadores.css">
    <script type="text/javascript" src="https://cdn.rybena.com.br/dom/master/latest/rybena.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Apoiadores</title>
</head>
<body>
    <!-- ONDAS -->
    <div class="wave">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <section>      

        <div class="apoiadores">
            <div class="apoiador">
                <div class="logo">
                    <img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/110/2019/09/cropped-logo-etec.png" alt="Logo ETEC MCM">
                </div>
                <h3>ETEC MCM</h3>
                <p>A ETEC Maria Cristina Medeiros, em Ribeirão Pires, é referência em ensino técnico de qualidade, unindo teoria e prática na formação dos alunos. Agradecemos pelo apoio essencial durante o desenvolvimento do nosso TCC.</p>
                <button onclick="abrirLink('https://www.etecmcm.com.br')">Saiba Mais</button>
            </div>
            <div class="apoiador">
                <div class="logo">
                    <img src="https://docs.rybena.com.br/images/logo.svg" alt="Logo Rybená">
                </div>
                <h3>Rybená</h3>
                <p>A Rybená é uma empresa focada em acessibilidade digital, que trabalha para tornar a web mais inclusiva por meio de soluções inovadoras e centradas na usabilidade. Agradecemos à Rybená pelo apoio e colaboração durante o desenvolvimento do nosso TCC.</p>
                <button onclick="abrirLink('https://rybena.com.br/')">Saiba Mais</button>
            </div>
            <div class="apoiador">
                <div class="logo">
                    <img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2020/03/logo-cps.jpg" alt="Logo ETEC MCM">
                </div>
                <h3>CPS</h3>
                <p>O Centro Paula Souza é referência em ensino técnico e tecnológico em São Paulo, contribuindo para a formação de qualidade. Agradecemos pelo apoio na realização do nosso TCC.</p>
                <button onclick="abrirLink('https://www.cps.sp.gov.br/')">Saiba Mais</button>
            </div>
        </div>

        <nav class="bottom-navbar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <span class="nav-text">Início</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span class="nav-text">Classes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-running"></i>
                        <span class="nav-text">Activities</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-gamepad"></i>
                        <span class="nav-text">Games</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user-circle"></i>
                        <span class="nav-text">Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <span class="nav-text">Configurações</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-life-ring"></i>
                        <span class="nav-text">Apoio</span>
                    </a>
                </li>
            </ul>
        </nav>        
    </section>

    <script>
        function abrirLink(url) {
            window.open(url, '_blank');
        }
    </script>
</body>
</html>