<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="tudo">
        <div class="container-cadastro" id="container-cadastro">
            <div class="cadastro">
                <h3>Cadastro</h3> 
                <form method="POST" action="/cadastro" id="form-cadastro">
                    <p>E-mail</p> 
                    <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                    <div class="linha-rm-senha">
                        <div>
                            <p>Rm</p>
                            <input type="text" id="rm" name="rm" placeholder="Digite seu Rm" maxlength="5" required>
                        </div>
                        <div>
                            <p>Senha</p>
                            <input type="text" id="senha" name="senha" placeholder="Crie uma senha" required>
                        </div>
                    </div>
                    <p>Confirme a senha</p>
                    <input type="text" id="confirmarSenha" name="confirmarSenha" placeholder="Digite a mesma senha do campo anterior" required>
                    <div class="cadastro-entrar">
                        <div class="botoes-linha">
                            <button type="submit" id="cadastrar2">Cadastrar</button>
                            <p id="ou">ou</p>
                            <a type="button" id="entrar2" href="/">Entrar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>